*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

$gray: #9a9a9aff;
$gray-light: #efefefff;
$sub-title: #535353ff;

.content {
    max-width: 64rem; /* 1024px */
    width: 100%;
    margin: 0 auto;
}

input[type="text"] {
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border:0.0625rem solid $gray;
    color: $gray;
    outline: none;
}

input[type="text"]::placeholder {
    color: $gray;
}

button {
    padding: 0.3125rem;
}

