.form-register {
    max-width: 25rem; /* 320px */
    width: 100%;
    padding: 1.25rem 0.625rem;
    background-color: white;
    margin: 1.25rem 0.3125rem;

    h1 {
        color: $sub-title;
        text-align: center;
    }

    input[type="text"], input[type="password"] {
        margin: 0.3125rem 0;
        width: 100%;
    }

    textarea {
        width: 100%;
        max-width: 100%;
        border: 0.0625rem solid $gray;
        border-radius: 0.3125rem;
        outline: none;
        padding: 0.3125rem;

        &:focus {
            border: 0.625rm solid $sub-title;
        }
    }


    label {
        color: $sub-title;
        display: inline-block;
        padding: 0.3125rem;
    }

    button {
        padding: 0.625rem;
        margin: 0.625rem 0;
        border-radius: 0.3125rem;
        background-color: #1c98e0;
        border: 0.06125rem solid #1c98e0;
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
        width: 100%;
        cursor: pointer;
    }
}