.menu-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 0.3125rem 0;

    .logo-container {
        order: 1;
    }
}


.menu {
    order: 2;
    display: flex;
    list-style: none;

    li {
        display: inline-flex; 
        align-items:center;
    }

    .profile {
        width: 50px;
        height: 50px;
        display: inline-block;
        border: 3px solid $gray;
        border-radius: 50%;
        margin-right: 0.3125rem;
    }

    .welcome_user {
        display: inline-flex;
        flex-direction: column;
        margin-right: 0.3125rem;
    }

    .welcome {
        font-size: 0.8rem;
        color: $gray;
    }

    .user {
        color: $sub-title;
        font-weight: 600;
    }

    .drop-down {
        color: $sub-title;
        cursor: pointer;
    }

    .active {
        display: block !important;
    }

    .menu .icon-dwon {
        pointer-events: none;
    }

    .sub-menu {
        user-select: none;
        display: none;
        position: absolute;
        top: 110%;
        right: 0.625rem;
        font-size: 1.3rem;
        z-index: 999;
        background-color: white;
        border-radius: 0.3125rem;

        & a {
            color: $sub-title;
            text-decoration: none;
            display: inline-block;
            padding: 1.25rem;
        }
    }
}


@media(min-width: 480px) {
    .menu-container {
        padding: 0 0.3125rem 0 0.3125rem;
    }
}

@media(min-width: 640px) {
    .menu {
        order: 3;
        padding-left: 0.625rem;
        border-left: 0.0625rem solid $gray-light;
    }

    .logo-container{
        flex-grow: 1;
    }
}