$gray: #9a9a9aff;
$gray-light: #efefefff;
$sub-title: #535353ff;
$preview-course-button: #01a02aff;

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    position: absolute;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    justify-content: space-between;
    background-color: $gray-light;
}

.content {
    width: 100%;
    margin: 0 auto;
}

/* A*/
header {
    width: 100%;
    flex-grow: 0;
}

main {
    flex-grow: 2;
    width: 100%;
}

footer {
    width: 100%;
    flex-grow: 0;
}

.courses-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media(min-width: 1440px) {
    .content {
        max-width: 80%;
    }
}