.menu-container {
    position: relative;
    width: 100%;
    background-color: white;

    .menu-button {
        display: inline-flex;
        flex-wrap: wrap;
        width: 2.5rem;
        height:2.5rem;
        border: 0.0625rem solid $gray;
        border-radius: 0.3125rem;
        cursor: pointer;
        margin: 0.3125rem;
        outline: none;
        padding: 0.3125rem;

        .line {
            height: 20%;
            width:100%;
            background-color: $gray;
            margin-bottom: 20%;
        }

        .line:last-child{
            margin-bottom: 0;
        }
    }

    .menu-check {
        display: none;
    }

    .menu-check:checked ~ .menu {
        transform: translateX(0);
    }

    .menu{
        position: absolute;
        left: 0;
        top:100%;
        height: 100%;
        background-color: slategray;
        width: 100%;
        font-size: 1.3rem;
        transition: all 0.2s linear;
        transform: translateX(-100%);

        a {
            padding: 0.625rem;
            display: inline-block;
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    }
}